<div id="<%= dom_id child %>">
  <p>
    <strong>User:</strong>
    <%= child.user_id %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= child.birthday %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= child.gender %>
  </p>

</div>
