<div id="<%= dom_id child %>">

  <p>
    <strong>Name:</strong>
    <%= child.name %> (<%= child.age %> years old)
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= child.birthday.strftime("%B %d, %Y") %>
  </p>
    
  <p>
    <strong>Gender:</strong>
    <%= child.gender %>
  </p>

</div>
