<nav class="navbar navbar-expand-lg bg-light mb-4">
  <div class="container container-fluid">
    <%= link_to "Exercises for kids", root_path, class: "nav-link" %>
    
      
          <ul class="navbar-nav">
            <% if user_signed_in? %>

            <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= current_user.name %>
  </button>
  <ul class="dropdown-menu dropdown-menu">
   <%= link_to "Profile", profile_path, class: "nav-link dropdown-item" %>
   <%= link_to "Edit #{current_user.name}", edit_user_registration_path, class: "nav-link dropdown-item" %>
   <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link dropdown-item" %>
    <li><hr class="dropdown-divider"></li>

  <% Child.all.each do |c| %>
  <li>
  <a class="nav-link dropdown-item" href="<%= child_path(c.id) %>"><%= c.name %></a>
  </li>
  <% end %>

    <li><hr class="dropdown-divider"></li>

    <%= link_to "+ Add Child", new_child_path,  class: "dropdown-item" %>

  </ul>
</div>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>

            <% end %>
          </ul>
       
      </div>
    </nav>
