<body class="exercisesPage">
<p style="color: green"><%= notice %></p>

<%= link_to 'Back', '#', class: "backLink", onclick: "event.preventDefault(); history.back();" %>

<%= render @day %>

<% if current_user.email == "alina@example.com" %>
<div>
  <%= link_to "Edit this day", edit_day_path(@day) %> 
   <%= link_to "Back to days", days_path %> 
   <%= button_to "Destroy this day", @day, method: :delete %>
</div>
<%end%>
</body>
