<div id="<%= dom_id challenge %>">
  <p>
    <strong>User:</strong>
    <%= challenge.user_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= challenge.active %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= challenge.child_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= challenge.title %>
  </p>

</div>
