<p style="color: green"><%= notice %></p>

<%= render @challenge %>

<div class="day_images">

<% @challenge.number_of_days.each do |day| %>
  <div class="image-background">
    <p><%= link_to "#{d.id}", exercises_path, class: "image-link" %></p>
  </div>
<%end%>

</div>

<hr>

<div>
  <%= link_to "Edit this challenge", edit_challenge_path(@challenge) %> |
  <%= link_to "Back to challenges", challenges_path %>
  <%= button_to "Destroy this challenge", @challenge, method: :delete %>
</div>
