<body class="registration">

<p style="color: green"><%= notice %></p>

<h3><%= @challenge.number_of_days %> days challenge</h3>

<div class="day_images">

<% arr = (1..Day.count + 1).to_a.sort{ rand() - 0.5}[1..@challenge.number_of_days].sort %>

<% arr.each do |num| %>

  <div class="image-background">
    <%= link_to "#{num}", exercises_path, class: "image-link" %>
  </div>
  
<% end %>

</div>


<%# <div>
  <%= link_to "Edit this challenge", edit_challenge_path(@challenge) %> 
  <%# <%= link_to "Back to challenges", challenges_path %>
  <%# <%= button_to "Destroy this challenge", @challenge, method: :delete %> 
<%# </div> %>
