<%= form_for exercise, url: exercise_path, method: :put, html: { enctype: "multipart/form-data" } do |f| %>


  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </div>
  <div class="actions">
    <%= f.submit "Upload Exercise" %>
  </div>
<% end %>
